[tool.poetry]
name = "taskbadger"
version = "0.1"
description = "The official Python SDK for Task Badger"

authors = []

readme = "README.md"
packages = [
    {include = "taskbadger"},
]
include = ["CHANGELOG.md", "taskbadger/internal/py.typed"]

[tool.poetry.dependencies]
python = "^3.8"
httpx = ">=0.15.4,<0.24.0"
attrs = ">=21.3.0"
python-dateutil = "^2.8.0"
typer = {extras = ["all"], version = "^0.7.0"}
tomlkit = "^0.11.6"

[tool.poetry.group.dev.dependencies]
openapi-python-client = "^0.13.1"
pytest = "^7.2.1"
isort = "^5.12.0"
black = "^23.1.0"
pre-commit = "^3.0.2"

[tool.poetry.scripts]
taskbadger = "taskbadger.cli:app"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
target_version = ['py37', 'py38', 'py39']
exclude = '''
(
  /(
    | \.git
    | \.venv
    | \.mypy_cache
  )/
)
'''

[tool.isort]
line_length = 120
profile = "black"
